.welcome {
  width: auto;
  height: 120vh;
  /* background: url('../../../../app/assets/images/welcome.png'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome img {
  position: absolute;
  top: -10vh;
  height: 140vh;
  width: 100%;
}

.welcome_content {
  position: absolute;
  display: flex;
}

.welcome_title {
  margin-left: 90px;
  margin-top: 90px;

  width: 50vw;
}

.welcome_title .title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;

  color: #402325;
  height: fit-content;
}

.welcome_title .yogaflow {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;

  /* or 86px */

  letter-spacing: 0.02em;

  color: #402325;
}

.welcome_title .text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  padding: 28px 0;
  font-size: 24px;
  line-height: 148%;


}

.find_more img {
  box-sizing: border-box;

  width: 224px;
  height: 64px;

  background: #ffffff;
  border: 2px solid #402325;
  box-shadow: 2px 4px 19px rgba(203, 161, 175, 0.5);
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

$green: #402325;
$dark: #FFFFFF;
$borderW: 2px;

.welcome_title button {}

.blob-btn {
  //
  box-sizing: border-box;
  width: 200px;
  height: 54px;
  background: #ffffff;
  border: 2px solid #402325;
  box-shadow: 2px 4px 19px rgba(203, 161, 175, 0.5);
  border-radius: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #402325;
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;



  transition: color 0.5s;
  cursor: pointer;


  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border-radius: 30px;
  }

  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW*1.5;
    top: $borderW*1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius: 30px;
  }

  &:hover {
    color: $dark;
    border-radius: 30px;

    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius: 30px;
    }
  }

  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }

  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }

  &__blob {
    position: absolute;
    top: $borderW;
    width: 100% / $numOfBlobs;
    height: 100%;
    background: $green;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;

    @supports(filter: url('#goo')) {
      transform: translate3d(0, 150%, 0) scale(1.4);
    }

    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }

    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);

      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }

}



/* leaf animations */

#leaves {
  position: relative;
  top: -150px;
  width: 100%;
  text-align: right;
}

#leaves i {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: #E3F0E4;
  transform: skew(20deg);
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #222;
  border: 1px solid #333;
  z-index: 1;
  animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) {
  animation: falling2 15s 0s infinite;
  background-color: #EEE3E5;
}

#leaves i:nth-of-type(3n) {
  animation: falling3 15s 0s infinite;
}

#leaves i:before {
  position: absolute;
  content: '';
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;

  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 125px;
  width: 10px;
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius: 50%;
}


#leaves i:nth-of-type(n) {
  height: 23px;
  width: 30px;
}

#leaves i:nth-of-type(n):before {
  width: 7px;
  height: 5px;
  top: 17px;
  right: 1px;
}

#leaves i:nth-of-type(n):after {
  width: 2px;
  height: 17px;
  left: 12px;
  top: 0px;
}

#leaves i:nth-of-type(2n+1) {
  height: 11px;
  width: 16px;
}

#leaves i:nth-of-type(2n+1):before {
  width: 4px;
  height: 3px;
  top: 7px;
  right: 0px;
}

#leaves i:nth-of-type(2n+1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px;
}

#leaves i:nth-of-type(3n+2) {
  height: 17px;
  width: 23px;
}

#leaves i:nth-of-type(3n+2):before {
  height: 4px;
  width: 4px;
  top: 12px;
  right: 1px;
}

#leaves i:nth-of-type(3n+2):after {
  height: 10px;
  width: 2px;
  top: 1px;
  left: 8px;
}

#leaves i:nth-of-type(n) {
  animation-delay: 1.9s;
}

#leaves i:nth-of-type(2n) {
  animation-delay: 3.9s;
}

#leaves i:nth-of-type(3n) {
  animation-delay: 2.3s;
}

#leaves i:nth-of-type(4n) {
  animation-delay: 4.4s;
}

#leaves i:nth-of-type(5n) {
  animation-delay: 5s;
}

#leaves i:nth-of-type(6n) {
  animation-delay: 3.5s;
}

#leaves i:nth-of-type(7n) {
  animation-delay: 2.8s;
}

#leaves i:nth-of-type(8n) {
  animation-delay: 1.5s;
}

#leaves i:nth-of-type(9n) {
  animation-delay: 3.3s;
}

#leaves i:nth-of-type(10n) {
  animation-delay: 2.5s;
}

#leaves i:nth-of-type(11n) {
  animation-delay: 1.2s;
}

#leaves i:nth-of-type(12n) {
  animation-delay: 4.1s;
}

#leaves i:nth-of-type(13n) {
  animation-delay: 1s;
}

#leaves i:nth-of-type(14n) {
  animation-delay: 4.7s;
}

#leaves i:nth-of-type(15n) {
  animation-delay: 3s;
}

#leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #309900, #005600);
}

#leaves i:nth-of-type(2n+2) {
  background: linear-gradient(to bottom right, #5e9900, #2b5600);
}

#leaves i:nth-of-type(4n+1) {
  background: linear-gradient(to bottom right, #990, #564500);
}

#leaves i:nth-of-type(n) {
  opacity: .7;
}

#leaves i:nth-of-type(3n+1) {
  opacity: .5;
}

#leaves i:nth-of-type(3n+2) {
  opacity: .3;
}

#leaves i:nth-of-type(n) {
  transform: rotate(180deg);
}


#leaves i:nth-of-type(n) {
  animation-timing-function: ease-in-out;
}

@keyframes falling {

  0% {
    -webkit-transform:
      translate3d(300, 0, 0) rotate(0deg);
  }

  100% {
    -webkit-transform:
      translate3d(-350px, 700px, 0) rotate(90deg);
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
    -webkit-transform:
      translate3d(0, 0, 0) rotate(-20deg);
  }

  100% {
    -webkit-transform:
      translate3d(-930px, 640px, 0) rotate(-70deg);
    opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    -webkit-transform:
      translate3d(0, 0, 0) rotate(90deg);
  }

  100% {
    -webkit-transform:
      translate3d(-1700px, 680px, 0) rotate(0deg);
    opacity: 0;
  }
}