.welcome {
  width: auto;
  height: 100vh;
  /* background: url('../../../../app/assets/images/welcome.png'); */
  background-repeat: no-repeat;
  background-size: cover;
}


.welcome_content {

  display: flex;
  width: 100%;
  justify-content: space-between;
}

.welcome_title {
  margin-left: 90px;
  margin-top: 50px;

  width: 50vw;
}

.welcome_title .title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;

  color: #402325;
  height: fit-content;
}

.welcome_title .yogaflow {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 120%;
  /* identical to box height, or 96px */

  letter-spacing: 0.04em;

  color: #FF8598;
}

.welcome_title .text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 112%;
  /* or 31px */
  padding: 50px 0;
  letter-spacing: 0.02em;

  /* 1 */

  color: #070217;


}


.find_out_more{
  
font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 112%;
letter-spacing: 0.02em;

color: #070217;
}
.small_social_wrapper .footer_socials{
  margin-left: 90px;
}