.flip-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    margin: 0 100px;
}

.services-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    /* identical to box height, or 77px */
    margin: 10vh 100px;

    color: #FF8598;

}

.still_confused {

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #070217;
    padding: 10vh 0;


}