.wellness_wrapper {
  display: flex;
  flex-direction: row;
  margin: 15vh 7vw;
  column-gap: 15vw;
}

.circles_image_wrapper {
  background: url("../../../../app/assets/images/manYoga.png");
  height: 400px;
  width: 265px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 12vw;
}
.circles_image_wrapper img {
  height: 420px;
  width: 285px;
  object-fit: cover;
}
.wellness_card {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  padding: 2vh 0;
}
.wellness_card_text .heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 134.97%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #070217;
}

.wellness_card_text .body {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 134.97%;
  display: flex;
  align-items: center;
  margin: 1.5vh 0;
  color: #070217;
}
